<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ds.mapper.exam.ExamMapper">
    <insert id="insert" parameterType = "ExamInfo">
        insert into exam_info(examname,begindate,begintime,enddate,endtime,password,state,teacher)
        values(#{examname},
         #{begindate},
           #{begintime},
           #{enddate},
                  #{endtime},
                  #{password},
                   #{state},
                    #{teacher})
    </insert>
    <select id="FindAll" resultType="ExamInfo">
        select *from exam_info
    </select>

    <select id="findById" parameterType="Long" resultType="ExamInfo">
        select * from exam_info where id = #{id}
    </select>
    <!--随机获取数据-->
    <select id="RandId" resultType="Choice">
         select * from choicequestion order by RAND() limit #{exnumber}
    </select>
    <!-- 更新的方法 -->
    <update id="UpExaminfo" parameterType="ExamInfo">
        update exam_info set
            id = #{id},
             begindate =  #{begindate},
          begintime =  #{begintime},
          enddate = #{enddate},
          endtime = #{endtime},
              password= #{password},
                 state =  #{state},
                   teacher=  #{teacher}
        where id = #{id}
    </update>
</mapper>